body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: darkblue;
  background-color: yellowgreen;
  background-image: url("https://www.desktopbackground.org/p/2011/03/19/174409_download-texture-clouds-texture-background-clouds-texture_2560x1600_h.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 20px;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-family: fantasy, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: darkblue;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 10px darkblue;

}
* {
  box-sizing: border-box;
}