

* {
  box-sizing: border-box;
  // padding: 30px;   
}

body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: darkblue;
  background-color: rgb(110, 225, 233);
  background-image: url("https://www.desktopbackground.org/p/2011/03/19/174409_download-texture-clouds-texture-background-clouds-texture_2560x1600_h.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: fantasy, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: darkblue;
  text-shadow: 1px 1px 0px black, 0 0 25px blue, 0 0 10px darkblue;
}

#options-group {
  margin-left: 80px;
  align-content: center;
}

input {
  border-color: black;
  border-radius: 8px;
  padding: 2px;
  margin-bottom: 8px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 18px;
}

label {
  padding-left: 40px;
}

button {
  padding: 5px;
  margin-top: 10px;
  margin-left: 50%;
  font-size: 14px;
  background-color: lightgreen;
  border-radius: 25px;
  border-width: 1.5px;
  border-color: black;
}

hr {
  border-width: 2px;
  border-color: rgb(255, 247, 0);
  background-color: rgb(255, 247, 0);
  margin: 20px -20px 20px;
}

p {
  // max-width: 100px;
  // max-height: 100px;
}

.meme {
  display: flex;
  flex-direction: column;
  align-items: center
}
