:local(.app) {


  * {
    box-sizing: border-box;
    // padding: 30px;   
  }

  pre {
    // background-repeat: no-repeat;
    // margin: 0;
    // display: inline-block;
    padding: 10px;
    width: 600px;
    height: 500px;
    // background-position: 0% 0%;
    color: rgb(40, 184, 40);
    text-shadow: 1px 1px 2px black;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }

  .set-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-evenly;
    // flex-direction: column;
  }

  #url-input {
    // align-items: center;
  }

  div {
    // width: 400px;
    // height: 400px;
  }

}
