:local(.app) {

  * {
    box-sizing: border-box;
  }

  .set-options {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
  }

  #meme {
    margin: auto;
    height: 400px;
    width: 700px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }

  h3 {
    text-align: center;
  }

  h4 {
    text-align: left;
  } 
}
